name: CI

on:
  push:
    branches:
      - master
  pull_request:

env:
  GO_VERSION: 1.17

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run front-end linter
        run: make lint-front

      - name: Build front-end
        run: make build-front

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Verify dependencies
        run: go mod verify

      - name: Build back-end
        run: go build -v ./...

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3.2.0
        with:
          version: latest

      - name: Run back-end unit testing
        run: go test -race -v ./...
